.main_top{height: 36px;border-bottom: 2px solid #5c5c5c;width: 1000px;}
.main_top span{line-height: 36px;display: inline-block;margin: 0 10px;}
.main_top img{display: inline-block; margin-left: 20px;}
.main_top a{color: #5c5c5c;}

.main_left{width: 718px;background-color: #f6f6f6;padding-bottom: 20px;padding-top: 27px;padding-left: 12px;border-bottom: 1px solid #ccc;}

.main_right{width:250px;margin-top: 27px;}
.main_right h2{height: 36px;background-color:#333333;width:240px;color: #fff;line-height: 36px;font-size: 16px;padding-left:10px;}
.main_right .diao{height: 380px; background-color:  #e6e6e6;width: 240px;padding-left: 10px;padding-bottom: 12px;  }
.main_right .diao a{display: inline-block;width: 40px;height: 26px;border-radius: 5px;color: #666666;background-color: #eeeeee;
    margin: 6px 5px 6px 6px;line-height: 26px;text-align: center;}
.main_right .diao a:first-child{background-color: #1f9400;}

.main_right .redian img{width: 230px;height: 126px;}
.main_right .redian p{color: #0044b5;font-weight: bold;margin-top: 6px;}
.main_right .redian span{display:block; margin-top: 3px;margin-bottom: 15px;}

.main_right .diao span{display:inline-block;line-height:18px;font-size: 14px;margin-top:19px;margin-right:7px;}
.main_right .diao .sp{display:inline-block; width:18px;height:18px;background-color: #259b24;border-radius:2px; color: #fff;}

.main_left ul li{line-height: 36px;font-size: 14px;}
.main_left ul li a{font-weight: bolder;color: #333333;margin-right: 12px;}
.main_left ul li span{float: right;color: #767676;}

.main_left_bot{padding-top: 18px;padding-bottom: 20px;}
.main_left_bot .ul_second{width:300px;padding-left: 240px;}
.main_left_bot .ul_second li{display:inline-block;width: 25px;height: 25px;background-color: #f2f0f0;margin-right: 8px;float: left;}
.main_left_bot .ul_second li a{line-height: 25px;text-align: center;display:inline-block;width: 25px;height: 25px;
    border: 1px solid #999999;border-radius: 3px;color: #484747;}
.main_left_bot .ul_second li:nth-child(2) a{background-color: #eb9000;color: #fff;border: solid 1px #eb9000;}
.main_left_bot .in_box span{font-size: 14px;margin-left: 20px;}




