.main_top{height: 36px;border-bottom: 2px solid #5c5c5c;width: 1000px;}
.main_top span{line-height: 36px;display: inline-block;margin: 0 10px;}
.main_top img{display: inline-block; margin-left: 20px;}
.main_top a{color: #5c5c5c;}

.main_left .main_left_top{height: 73px;margin-top: 25px;}
.main_left .main_left_top h2{line-height:20px;font-size: 18px;color: #fff;margin-top: 18px;margin-left:22px;}
.main_left .main_left_top h3{line-height:16px;font-size:12px;color: #a9d0a4;font-weight: normal;margin-left: 23px;}
.main_left .main_left_top .left{width: 142px;height: 73px;background-color: #63b74d;}
.main_left .main_left_top .right{width:595px;height: 73px;background-color:#e5e5e5;}

.main_right{width:260px;height: 905px;border: 1px solid #afafaf;margin-top: 25px;border-bottom: 0;background-color: #dedede}
.main_right ul li{line-height: 72px;width: 258px;height: 72px;border-bottom: 1px solid #afafaf;background-color: #e7e7e7;}
.main_right ul li:hover{background-color:  #afafaf;}
.main_right ul li a{font-size: 14px;color: #333333;font-weight: bolder;display: inline-block;padding-left: 18px;;
}
.main_right ul li span{font-size:8px;-webkit-transform: scale(0.7);display: inline-block;text-transform: uppercase;}
.main_right ul{position: relative;}
.main_right ul .index_ld{position: absolute;right: 20px;top: 25px;}

.main_left_bot span{font-size: 20px;font-weight: bolder;}
.main_left_bot p{margin-top: 50px;font-size: 14px;line-height: 28px;}
.main_left_bot h4{font-size: 14px;color: #333333;margin-top: 54px;line-height: 36px;}
.main_left_bot h5{font-weight: normal;font-size: 14px;line-height: 30px;}
